<!-- Page Content -->

<!-- /Page Header -->



<div
  class="page-wrapper"
  (resized)="onResize($event)"
  [ngStyle]="{ height: innerHeight }"
>
  <div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Change Password</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a>Change Password</a>
            </li>
            <li class="breadcrumb-item active">Change Password</li>
          </ul>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="content container-fluid">
          <div class="row">
            <div class="col-md-6 offset-md-3">
              <!-- Page Header -->

              <!-- /Page Header -->

              <form [formGroup]="changePassword">

                <div class="form-group">
                  <label>New password</label>
                  <input
                    type="password"
                    class="form-control"
                    [class.invalid]="
                      changePassword.get('newPassword').invalid &&
                      changePassword.get('newPassword').touched
                    "
                    formControlName="newPassword"
                  />
                  <div
                    *ngIf="
                      changePassword.get('newPassword').invalid &&
                      changePassword.get('newPassword').touched
                    "
                  >
                    <small
                      *ngIf="
                        changePassword.get('newPassword').invalid &&
                        changePassword.get('newPassword').touched
                      "
                      class="text-danger"
                    >
                      *New password is required</small
                    >
                  </div>
                </div>
                <div class="form-group">
                  <label>Confirm password</label>
                  <input
                    type="password"
                    class="form-control"
                    [class.invalid]="
                      changePassword.get('confirmPassword').invalid &&
                      changePassword.get('confirmPassword').touched
                    "
                    formControlName="confirmPassword"
                  />
                  <div
                    *ngIf="
                      changePassword.get('confirmPassword').invalid &&
                      changePassword.get('confirmPassword').touched
                    "
                  >
                    <small
                      *ngIf="
                        changePassword.get('confirmPassword').invalid &&
                        changePassword.get('confirmPassword').touched
                      "
                      class="text-danger"
                    >
                      *Confirm password is required</small
                    >
                  </div>
                </div>
                <div class="submit-section">
                  <button class="btn btn-primary submit-btn" (click)="changePass()">
                    Update Password
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- /Page Content -->

        <!-- Page Content -->
      </div>
    </div>
  </div>
</div>
