<div
  class="page-wrapper"
  (resized)="onResize($event)"
  [ngStyle]="{ height: innerHeight }"
>
<div class="content container-fluid">

  <div class="page-header">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="page-title">Welcome!</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item active">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <strong>Success!</strong> Success! You have logged in successfully. Welcome back to your account. We are glad to have you here. Explore your dashboard, check out the latest updates, and enjoy your experience with us.
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
